# Gemini API Keys (Add as many as needed)
GEMINI_API_KEY_1=your_api_key_here
GEMINI_API_KEY_2=your_api_key_here


AIRFLOW_UID=1000

# Hugging Face Configuration (Optional, defaults to offline mode)
# HF_HUB_OFFLINE=1
# TRANSFORMERS_OFFLINE=1

# MinIO Configuration
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin123
MINIO_API_EXTERNAL_PORT=9000
MINIO_CONSOLE_EXTERNAL_PORT=9001
MINIO_BUCKET=rag
MINIO_ENDPOINT=minio1:9000