airflow-service/config/airflow.cfg
airflow-service/logs/
./__pycache__/
*.pyc
*.pyo
.venv/
logs/
data/processed/all_chunks_combined.json
data/processed/Phu luc 3b_Mau CTDT thong thuong KM22_chunks.json
data/vector_store/vectorized_data.pkl
data/vector_store/vectorized_metadata.json
.env
.models/
open-webui/.open-webui/
